/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0e1015;
}

body::-webkit-scrollbar-thumb {
  background-color: #007bff9a;
  border-radius: 3px;
  border: 2.7px solid #151b23;
  border-bottom: none;
}

/*
general styles
*/
      /* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body{
  background-color: #0e1015;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 200vh;
}
